#body{
    min-width: 4000px;
    margin: 0px 0px 0px 0px;
}
#UpperContent{
    background-color: lightgray;
    width: 100%;
    height: 15%;
    top: 0%;
}
#CentreContent{
    background-color: white;
    width: 100%;
    height: 69%;
    margin: 0px 0px 0px 20px;
}
#LowerContent{
    width: 100%;
    height: 15%;
    bottom: 0%;
}
#TimelineBox{
    width: 100%;
    height: 50px;
    top: 0%;
}
.timeLineYearsInLine{
    width: 100%;
    height: 50px;
    overflow-x: visible;
    overflow-y: visible;
}
#TimelineInfoDisplay{
    width: 100%;
    height: 90%;
    top: 0%;
}
.TimelineRulerHor{
    height: 5px;
    background-color: black;
    position: relative;
}
.TimelineVerSticks{
    background-color: black;
    width: 3px;
    position: relative;
}
.YearIndication{
    height: 50px;
    float: left;
    bottom: 25px;
}
.SeasonsIndication{
    height: 25px;
    float: left;
    bottom: 15px;
}
.OneYearTimelineBlock{
    height: 50px;
    width: 100px;
    float: left;
    display: inline-block;
}
.YearIndicatorPosition{
    margin-left: 0px;
}
.YearTextIndicator{
    width: 50px;
    height: 20px;
    position: relative;
    text-align: center;
    margin: 0%;
    bottom: 0px;
    left: -25px;
}
.outerInfoDisplayBox{
    height: 400px;
    width: 100%;
    position: relative;
    top: 45%;
}
.innerInfoDisplayBox{
    height: 400px;
    max-width: 400px;
    width: 100%;
    float: left;
}
.widthInfoDisplayBox{
    max-width: 400px;
    width: 100%;
    height: 133px;
}
.headOfStateTitleDiv{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.headOfStateImgDiv{
    height: 92%;
    width: 14%;
    margin: 3px;
    background-color: lightgray;
    float: left;
}
.headOfStateTitleDisplay{
    height: 98%;
    width: 70%;
    float: left;
    top: 0%;
}
.headOfGovermentTitleDiv{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.headOfGovermentImgDiv{
    height: 92%;
    width: 14%;
    margin: 3px;
    background-color: lightgray;
    float: left;
}
.headOfGovermentTitleDisplay{
    height: 98%;
    width: 70%;
    float: left;
    top: 0%;
}
.titleDivSpecifics{
    max-width: 398px;
    width: 100%;
    height: 66px;
}
.titleTekstPosition{
    margin: 2px;
    top: 1%;
    left: 0%;
}
.congressSeatDistributionDiv{
    max-width: 198px;
    width: 100%;
    height: 114px;
}
.congressChamberSpeakerTitleDiv{
    max-width: 398px;
    height: 18px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.leftChamber01SpeakerTitleDiv{
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 398px;
    float: left;
}
.rightChamber01SpeakerTitleDiv{
    border-right: 0px solid black;
    width: 0px;
    float: right;
}
.leftChamber02SpeakerTitleDiv{
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 398px;
    float: left;
}
.rightChamber02SpeakerTitleDiv{
    border-right: 0px solid black;
    width: 0px;
    float: right;
}
.chamber02SeatDistributionHolder{
    height: 133px;
    border-bottom: 1px solid black;
}
.chamber01SeatDistributionHolder{
    height: 114px;
}
.leftChamber01SeatDistributionDiv{
    float: left;
    border-left: 1px solid black;
}
.rightChamber01SeatDistributionDiv{
    float: right;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.rightChamber02SeatDistributionDiv{
    float: right;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.leftChamber02SeatDistributionDiv{
    float: left;
    border-left: 1px solid black;
 }
.speakerTitleDisplay{
    margin: 0px;
}
.CongressSessionTickerPosition{
    width: 50px;
    height: 25px;
    margin: 0px;
    position: relative;
}
.ChamberDistribution{
    --verticalLength: 1%;
    width: 100%;
    height: var(--verticalLength);
}