#UpperContent{
background-color: red;
}
#CentreContent{
background-color: white;
}
#LowerContent{
background-color: blue;
}
#TimelineBox{

}
.TimelineRulerVer{
    position: relative;
    max-height: 1200px;
    margin: 0 auto;
}